{
  "sourceMaps": "inline",
  "compact": false,
  "comments": true,
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "add-module-exports",
    [
      "module-alias",
      [
        {
          "src": "./src/lib",
          "expose": "lib"
        },{
          "src": "./src/plugins",
          "expose": "plugins"
        }
      ]
    ]
  ]
}